APP_ENV=local
APP_KEY=base64:N5WO6bqzPAnO8sqNr7L6wYA27FIJPDrTZgyud12ss5k=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost:100

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/database.sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
